.LinkBox{
    height: 200px;
    width: 200px;
    margin: 0 20px;
    text-align: center;
    border-radius: 30px;
    background-color: hsl(220, 50%, 90%);
    overflow: hidden;
}
.ImageBox{
    height: 80%;

}
.ContentBox{
    height: 20%;
}
.ContentBox div, .ContentBox button{
    display: inline-block;
    height: 100%;
    width: 50%;
    background-color: hsl(220, 50%, 80%);
}
.ContentBox button{
    border: none;
}
