<app-managment [class.ManHidden] = 'Visible' (Toggle) = 'ToggleVision()' (newLink) = "AddLink($event)" ></app-managment>


    <div class ="linkCont">
        <div class = "LinkBox" *ngFor = "let link of links; let i = index">
                <a href="{{link.LinkAdress}}" target="{{link.LinkAdress}}">
                    <div class = "ImageBox">
                        <img src="{{link.LinkIcon}}" height="150">
                    </div>
                </a>
            <div class = "ContentBox">
                <button>{{link.LinkName}}</button>
                <button (click) = "remove(i)">Usuń</button>
            </div>
    </div>
</div>
