input, button{
    width: 90%;
    margin: 10px auto;
    font-size: 24px;
}
button{
    background-color: hsl(300, 50%, 80%);
    color: whitesmoke;
    border: 2px solid whitesmoke;
    transition: background-color 500ms ease-in-out;
}
button:hover{
    background-color: whitesmoke;
    color: hsl(300, 50%, 50%);
}