app-header{
    height: 10%;
    justify-content: flex-start;
}
app-link-box{
    min-height: 87%;
    width: 100%;
    position: relative;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
app-footer{
    height: 3%;
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: center;
}
app-footer, app-header{
    align-items: center;
    display: flex;
    color: whitesmoke;
    padding: 20px;
    background-color: hsl(220, 80%, 10%);
}
